/* Основные настройки */
* {
    margin: 0;
    color: #ddd;
    background-color: #111;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: none;
}

/* Навигация */
.nav-bar {
    padding: 2% 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.nav-links a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.nav-links a:hover {
    color: #fff;
    font-size: 16px;
    transition: 1s;
}

/* Основной блок */
.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 0;
}

.main-pretitle {
    font-size: 14px;
    letter-spacing: 4px;
    opacity: 40%;
}

.main-title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 1%;
}

.main-subtitle {
    font-size: 16px;
    opacity: 60%;
    margin-bottom: 8%;
}

.main-button {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 2% 4%;
    border: 1px solid #ddd;
}

.main-button:hover {
    color: #111;
    background-color: #ddd;
    transition: 1s;
}

.main-right-side {
    display: flex;
    align-items: center;
    justify-content: end;
}

.main-links {
    display: flex;
    flex-direction: column;
}

.main-links a {
    opacity: 50%;
    margin-bottom: 100%;
}

.main-links a:hover {
    opacity: 100%;
    transition: 1s;
}

/* Блок "Обо мне" */
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 2% 0;
    background: linear-gradient(#111, #000, #000, #000, #000, #000, #111);
}

.about-left-side {
    background: none;
}

.about-title {
    color: #ddd;
    background: none;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2%;
}

.about-text {
    width: 80%;
    height: 370px;
    overflow: auto;
    opacity: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #000;
    background-color: #fff;
}

.about-text img {
    width: 100%;
    background-color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about-text p {
    text-align: justify;
    padding: 0% 4% 5% 4%;
    color: #000;
    background-color: #fff;
}

.about-right-side {
    display: flex;
    align-items: last baseline;
    justify-content: end;
    background: none;
}

.about-right-side img {
    margin: 2%;
}

.photos {
    display: flex;
    flex-direction: column;
    background: none;
}

/* Блок "Мой стэк" */
.stack-content {
    padding: 4% 0;
}

.stack-title {
    font-size: 40px;
    font-weight: 600;
}

.stack-cards {
    padding: 4% 0;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

.stack-card {
    width: 20%;
    text-align: center;
}

.stack-card img {
    margin-bottom: 4%;
}

.stack-card p:first-of-type {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10%;
}

/* Блок "Опыт и проекты" */
.experience-content {
    margin-bottom: 2%;
}

.experience-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2%;
}

.experience-cards {
    width: 90%;
    margin: 0 auto;
}

.experience-card {
    display: flex;
    justify-content: center;
    padding: 3% 0;
}

.experience-subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1%;
}

.experience-description {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 3%;
}

.experience-button {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1% 2%;
    border: 1px solid #ddd;
}

.experience-button:hover {
    color: #111;
    background-color: #ddd;
    transition: 1s;
}

/* Подвал */
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
}

.footer-rights {
    width: 10%;
}

.footer-links {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    opacity: 50%;
}

.footer-links a:hover {
    opacity: 100%;
    transition: 1s;
}